#text-color{ color: rgb(58, 19, 233);}
.game{background-color: rgba(213, 164, 237, 0.455); width: 330px;
     border: 5px solid black; margin-left: 250px; margin-bottom: 5rem;}
.container-h{
     border: 5px solid rgb(230, 240, 174);
}